.git
.gitignore
LICENSE
VERSION
README.md
CHANGELOG.md
Makefile
docker-compose.yml
docs
var/cache/*
var/logs/*
var/sessions/*
var/dockerData
vendor
node_modules
.idea
.vscode
.env
.env.sample
Dockerfile
